.header_register {
  display: block;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding: 2px;
  top: 0.5vh;
}

.page_register {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.container_register_option {
  display: block;
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 10vh;
}
