.header_menu
{
    display:none;
}


.footer_menu
{
    display:contents;
}

.page_menu
{
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.container_menu
{
  position: absolute;
  height: 92vh;
  width: 100vw;
  bottom: 8vh;
}

.food_menu {
  position: absolute;
  top: 6vh;
  width: 100vw;
}
