.button_option_home {
  background: #ffffff;

  position: absolute;
  top: 2vh;
  height: 5vh;
  width: 5vh;
  padding: 0;
  left: 26vw;
  border: 0;
  z-index: 1;
}
.icon_option_home {
  height: 3.5vh;
  width: 3.5vh;
  margin: auto;
}
.text_option_home {
  position: absolute;
  left: 30vw;
  top: 2vh;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 5vh;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  z-index: 1;
}

.button_option_account {
  background: #ffffff;

  position: absolute;
  top: 2vh;
  height: 5vh;
  width: 5vh;
  padding: 0;
  left: 41vw;
  border: 0;
}

.text_option_account {
  position: absolute;
  left: 46vw;
  top: 2vh;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 5vh;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
.button_option_logout {
  background: #ffffff;
  position: absolute;
  top: 2vh;
  height: 5vh;
  width: 5vh;
  padding: 0;
  left: 58vw;
  border: 0;
}

.text_option_logout {
  position: absolute;
  left: 62vw;
  top: 2vh;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 5vh;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .button_option_home {
    background: #ffffff;
    position: absolute;
    top: 1.7vh;
    height: 5vh;
    width: 5vh;
    padding: 0;
    left: 4vw;
    border: 0;
    z-index: 1;
  }
  .icon_option_home {
    height: 3vh;
    width: 3vh;
    margin: auto;
  }
  .text_option_home {
    position: absolute;
    left: 12vw;
    top: 2vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 5vh;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    z-index: 1;
  }

  .button_option_account {
    background: #ffffff;

    position: absolute;
    top: 1.7vh;
    height: 5vh;
    width: 5vh;
    padding: 0;
    left: 25vw;
    border: 0;
  }

  .text_option_account {
    position: absolute;
    left: 33vw;
    top: 2vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 5vh;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  .button_option_logout {
    background: #ffffff;
    position: absolute;
    top: 1.7vh;
    height: 5vh;
    width: 5vh;
    padding: 0;
    left: 50vw;
    border: 0;
  }

  .text_option_logout {
    position: absolute;
    left: 58vw;
    top: 2vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 5vh;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
}
