@mixin button_home_admin {
  background: #ffffff;
  position: absolute;
  top: 2vh;
  height: 5vh;
  width: 4vw;
  padding: 0;
  border: 0;
}
@mixin text_home_admin {
  position: absolute;
  top: 2vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vmax;
  line-height: 5vh;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  z-index: 1;
}
.icon_option_home {
  height: 2.5vw;
  width: 2.5vw;
  margin: auto;
}

.button_option_home {
  @include button_home_admin;
  left: 26vw;
}
.text_option_home {
  @include text_home_admin;
  left: 30vw;
}
.button_option_account {
  @include button_home_admin;
  left: 41vw;
}
.text_option_account {
  @include text_home_admin;
  left: 45vw;
}
.button_option_logout {
  @include button_home_admin;
  left: 58vw;
}
.text_option_logout {
  @include text_home_admin;
  left: 62vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @mixin button_home_admin {
    background: #ffffff;
    position: absolute;
    top: 2vh;
    height: 5vh;
    width: 5vw;
    padding: 0;
    border: 0;
  }
  @mixin text_home_admin {
    position: absolute;
    left: 12vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 3.8vw;
    line-height: 5vh;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    z-index: 1;
  }
  .icon_option_home {
    height: 5.5vw;
    width: 5.5vw;
    margin: auto;
  }

  .button_option_home {
    @include button_home_admin;
    left: 4vw;
  }
  .text_option_home {
    @include text_home_admin;
    left: 12vw;
  }
  .button_option_account {
    @include button_home_admin;
    left: 26vw;
  }
  .text_option_account {
    @include text_home_admin;
    left: 34vw;
  }
  .button_option_logout {
    @include button_home_admin;
    left: 51vw;
  }
  .text_option_logout {
    @include text_home_admin;
    left: 59vw;
  }
}
