.back_order {
  width: 15vw;
}
.button_order {
  width: 40vw;
  height: 6vh;
  color: white;
  background-color: #9b26b6;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 2px 5px black;
  font-size: 3.5vh;
}
.button_back_order {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 1vh;
}
.container_product_order {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}
.container_product_order li {
  position: relative;
  display: flex;
  height: auto;
  font-family: Quicksand;
  font-style: normal;
  font-size: 4.3vw;
  left: 3vw;
  margin-bottom: auto;
  margin-top: auto;
}
.collapsible_info_order {
  background-color: #fafafa;
  cursor: pointer;
  padding: 0px;
  width: 99.5vw;
  outline: none;
  height: auto;
  display: flex;
  border: 0;
  border-radius: 3px 3px 0px 0px;
}
.div_button_order {
  position: relative;
  align-content: center;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.head_order {
  margin: 0;
  padding: 0;
  border: 0;
}
.head_line {
  padding-top: 2vh;
  padding-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}
.line_order {
  padding: 0;
  margin: 0;
  border: 1;
  border-color: rgba(0, 0, 0, 0.2);
}
.less_item {
  background-color: rgba(0, 0, 0, 0);
  color: #9b26b6;
  border: 0;
  font-weight: bold;
  font-size: 3.5vh;
  width: auto;
}
.more_item {
  background-color: rgba(0, 0, 0, 0);
  color: #9b26b6;
  border: 0;
  font-weight: 400;
  font-size: 3.5vh;
  width: auto;
}
.price_order {
}
.page_order_1 {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr 2fr;
}
.title_order {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.9vh;
  padding: 0;
  text-align: left;
  margin: 0;
  border: 0;
}
.total_order {
  padding-left: 3vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.5vh;
  text-align: left;
}
.unit_item_order {
  color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  width: 25vw;
  padding-left: 5vw;
}
.unit_order {
  margin: auto;
  padding: 1vh;
  width: 10vw;
}
