/* For mobile phones: */
.qr_ready {
  position: absolute;
  top: 15vh;
  left: 15vw;
  width: 70vw;
  height: 10vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 4vh;
  color: #7c878e;
  margin: 0;
  z-index: 2;
}
#ellipse_qr {
  top: 20vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  left: 0;
}

.ellipse_turn_qr {
  position: absolute;
  top: 0vh;
  height: 60vh;
  width: 100vw;
  left: 0;
  z-index: 1;
}

.ellipse_reader {
  background-position: center center;
  position: absolute;
  top: 8vh;
  height: 42vh;
  width: 72vw;
  left: 14vw;
  z-index: -1;
}

.qr_reader {
  position: absolute;
  top: 8vh;
  left: 12vw;
  width: 76vw;
  height: 40vh;
  z-index: -2;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #ellipse_qr {
    top: 20vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
  }

  .ellipse_turn_qr {
    position: absolute;
    top: 0vh;
    height: 60vh;
    width: 100vw;
    left: 0;
    z-index: 1;
  }

  .ellipse_reader {
    background-position: center center;
    position: absolute;
    top: 8vh;
    height: 42vh;
    width: 72vw;
    left: 14vw;
    z-index: -1;
  }

  .qr_reader {
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    z-index: -2;
  }
}
