.container_request {
  position: absolute;
  display: block;
  height: 92vh;
  width: 100vw;
  top: 0vh;
  left: 0vw;
}
.request_text {
  position: relative;
  top: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

  color: rgba(0, 0, 0, 0.7);
}

.request_list {
  position: relative;
  top: 3vh;
  height: 48vh;
  width: 100vw;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button_request {
  padding: 0px 0px;
  width: 100%;
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 0;
  background: #ffffff;
  box-shadow: 0 0 0;
  margin: auto;
}
.icon_request {
  background-repeat: no-repeat;
  background-position: center center;
  height: 7vmax;
  width: 7vmax;
}
.text_icon {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2vmax;
  line-height: 2.5vmax;
  color: #000000;
}

.request_textbox {
  position: relative;
  top: 4vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  left: 4vw;
  text-align: left;

  color: rgba(0, 0, 0, 0.7);
}
