.title_menu
{
  position: relative;
  font-size: 3.13vh;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
  text-align: left;
  bottom: 1vh;
  padding-left: 3vw;
  line-height: 4vh;
  width: 100vw;

}
.title_menu_2
{
  position: relative;
  font-size: 3.13vh;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
  text-align: left;
  bottom: 2vh;
  padding-left: 3vw;
  line-height: 4vh;
  width: 100vw;
}

#separator_card_top
{

  position: absolute;
  width: 100vw;
  height: 1px;
  top: 12vh;
  background: rgba(200,201,199,1);
  margin: 0;
  border: 0;
  padding: 0;
}
#separator_card_bottom
{

  position: absolute;
  width: 100vw;
  height: 1px;
  top: 99vh;
  background: rgba(200,201,199,1);
  margin: 0;
  border: 0;
  padding: 0;
}
