.container_admin_register {
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 0vh;
}

.text_register_admin {
  position: absolute;
  top: 0vh;
  left: 10vw;
  width: 80vw;
  height: 6vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2vmax;
  line-height: 3vmax;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.form_admin_register {
  width: 80vw;
  left: 10vw;
  height: 55vh;
  top: 8vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.div_container_admin {
  width: 26.5vw;
  height: 14vh;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 55%;
  align-items: center;
  padding: 8px 24px 24px;
}
.div_container_input {
  height: 100%;
}

.span_admin {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1vmax;
  line-height: 1.2vmax;
  text-align: left;
  margin: 0px 0px 6px;
  padding: 0px 3px;
  width: 100%;
  color: #7c878e;
}
.register_admin_input {
  width: 100%;
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0;
  border: 1px solid #c8c9c7;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vmax;
  line-height: 1.5vmax;
  text-align: left;
}
.register_admin_input_short {
  width: 25%;
  height: 100%;
  margin: 0;
  border: 1px solid #c8c9c7;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vmax;
  line-height: 1.5vmax;
  text-align: left;
  padding: 0 8px 0 8px;
}
.register_admin_input_large {
  width: 75%;
  height: 100%;
  margin: 0;
  border: 1px solid #c8c9c7;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vmax;
  line-height: 1.5vmax;
  text-align: left;
  padding: 0 0 0 8px;
}

.button_back_admin {
  position: absolute;
  top: 70vh;
  left: 10vw;
  height: 9vh;
  width: 30vw;
  background: #ffffff;
  border: 1px solid #9b26b6;
  color: #9b26b6;
  border-radius: 1vmax;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3vmax;
  line-height: 3.5vmax;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  z-index: 1;
}
.button_next_admin {
  position: absolute;
  top: 70vh;
  right: 10vw;
  height: 9vh;
  width: 30vw;
  background: #ffffff;
  border: 1px solid #32c755;
  color: #32c755;
  border-radius: 1vmax;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3vmax;
  line-height: 3.5vmax;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
}
@media only screen and (min-width: 900px) {
  .button_back_home {
    position: absolute;
    top: 70vh;
    left: 5vw;
    height: 9vh;
    width: 30vw;
    background: #ffffff;
    border: 1px solid #9b26b6;
    color: #9b26b6;
    border-radius: 1vmax;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3vmax;
    line-height: 3.5vmax;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
    z-index: 1;
  }
  .button_agree_user {
    position: absolute;
    top: 58vh;
    right: 5vw;
    height: 9vh;
    width: 30vw;
    background: #ffffff;
    border: 1px solid #32c755;
    color: #32c755;
    border-radius: 1vmax;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3vmax;
    line-height: 3.5vmax;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .form_user_register {
    width: 100%;
    height: 80vh;
    top: 12vh;
    position: absolute;
  }
  @mixin input_user {
    width: 82vw;
    height: 7.8vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin: 0;
    margin-bottom: 16px;
    border: 1px solid #c8c9c7;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 2vmax;
    line-height: 3vmax;
    text-align: left;
  }

  .name_user_input {
    @include input_user;
  }

  .email_user_input {
    @include input_user;
  }
  .cellphone_user_input {
    @include input_user;
  }
  .password_user_input {
    @include input_user;
  }

  .form_group {
    position: relative;
    padding: 0;
    margin: 0;
    top: 2vh;
  }

  .form_group li {
    position: relative;
    display: inline-table;
  }

  .check {
    vertical-align: top;
    width: 2vmax;
    height: 2vmax;
    margin: 1vh 3vw 2vh 3vw;
  }

  input [type="checkbox"]:checked {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
  }
  .article_data {
    width: 80vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2vmax;
    line-height: 2.5vmax;
    text-align: left;
    margin: 0;
    color: #7c878e;
  }
}
