.header_code_qr
{
  display:block;
  position: relative;
  top: 0.5vh;
}


.footer_code_qr
{

  display:block;

}

.page_code_qr
{

  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.return_button
{

  display: flex;
  position: absolute;
  height: auto;
  top: 80vh;
  left: 35vw;

}

.container_code_qr
{
  //display none o block
  display: block;
  position: absolute;
  height: 82.6vh;
  width: 100vw;
  bottom: 8vh;
}
