@import 'elements/footer_nav_user/_nav_user.scss';
@import 'elements/logo_ordena/_logo_ordena.scss';

.styles {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
