.separator_nav_admin {
  position: absolute;
  width: 100vw;
  size: 1px;
  bottom: 8vh;
  background: rgba(0, 0, 0, 0.25);
  margin: 0;
}

.nav_admin {
  position: absolute;
  bottom: 0;
  display: grid;
  height: 8vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: #ffffff;
}

@mixin button {
  padding: 0px 0px;
  width: 20vw;
  height: 8vh;
  border: 0;
  background: #ffffff;
}

@mixin icon {
  background-repeat: no-repeat;
  background-position: center center;
  height: 3.84vh;
  width: 6.66vw;
}
.button_tables {
  @include button;
}

.icon_tables {
  @include icon;
}

.button_info_table {
  @include button;
}

.icon_info_table {
  @include icon;
}

.button_chat_service {
  @include button;
}

.icon_chat_service {
  @include icon;
}

.button_code_qr_admin {
  @include button;
}

.icon_code_qr {
  @include icon;
}

.button_account_service_admin {
  @include button;
}

.icon_account_service {
  @include icon;
}
