.logo_header_register_admin {
  display: block;
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 7vh;
}
.options_header_register_admin {
  position: absolute;
  height: 8vh;
  width: 70vw;
  left: 30vw;
}

.page_register_admin {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
}
.container_register_admin {
  display: block;
  position: absolute;
  height: 92vh;
  width: 100vw;
  top: 8vh;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

@media only screen and (min-device-width: 600px) and (max-device-width: 899px) {
  .options_header_admin_home {
    position: absolute;
    display: none;
    height: 8vh;
    width: 70vw;
    left: 30vw;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .options_header_register_admin {
    position: absolute;
    display: none;
    height: 8vh;
    width: 70vw;
    left: 30vw;
  }
}
