.info_table {
  position: absolute;
  bottom: 0vh;
  width: 100vw;
  height: 92vh;
  left: 0vw;
}

.number_info_table {
  position: absolute;
  padding-left: 3vw;
  width: 100%;
  text-align: left;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 5.6vw;
  line-height: 6vh;
  height: 6vh;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
}

.separator_info_table {
  position: absolute;
  width: 100vw;
  margin: 0;
  top: 6vh;
  border: 1px solid rgba(200, 201, 199, 1);
}
.product_info {
  position: absolute;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 3vh;
  display: flex;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  justify-content: flex-start;
  align-items: center;
  height: 9.5vh;
  width: 47vw;
  left: 3vw;
  top: 6vh;
}

.price_info {
  position: absolute;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 3vh;
  display: flex;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
  align-items: center;
  height: 9.5vh;
  width: 47vw;
  right: 3vw;
  top: 6vh;
}
.container_grid_info {
  position: absolute;
  width: 96vw;
  left: 2vw;
  top: 15.5vh;
  height: 76.5vh;
  display: flex;
}
.container_grid_table {
  position: absolute;
  display: flex;
  grid-gap: 1px;
  width: 96vw;
  left: 0vw;
  top: 0vh;
  height: auto;
  flex-wrap: wrap;
}
.container_product {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  position: relative;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}
//texto
.container_product li {
  position: relative;
  display: flex;
  height: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vw;
  line-height: 3vh;
  left: 3vw;
  margin-bottom: auto;
  margin-top: auto;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.unit_item {
  color: rgba(0, 0, 0, 0.7);
  justify-content: flex-start;
  width: 72%;
  text-align: left;
}
.price_item {
  color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  width: 22%;
  padding-right: 1vw;
}
.unit_item_pending {
  color: rgba(0, 0, 0, 0.7);
  justify-content: flex-start;
  width: 85%;
  text-align: left;
}
.price_item_pending {
  color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  width: 8.5%;
  padding-right: 1vw;
}
.pending_order {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 3vh;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  height: 9.5vh;
  color: #9b26b6;
  position: relative;
  padding-left: 1vw;
}
.check_pending_order {
  width: 4.6vw;
  height: 4.6vw;
}

.price_total {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 3vh;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  height: 9.5vh;
  width: 24.7vw;
  padding-right: 1vw;
}
.product_total {
  color: rgba(0, 0, 0, 0.8);
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 3vh;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  height: 9.5vh;
  width: 71vw;
  padding-left: 1vw;
}

.collapsible_info {
  background-color: #fafafa;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  outline: none;
  height: auto;
  display: flex;
  border: 0;
  border-radius: 3px 3px 0px 0px;
}

.content_collapsible {
  padding: 0;
  margin: 0;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
  width: 98vw;
  top: 1px;
  border: 1px solid #f5f5f5;
  border-radius: 0px 0px 3px 3px;
}
.icon_collapsible {
  position: relative;
  display: block;
  height: auto;
  font-size: 2.2vmax;
  margin: 0;
  width: 3vw;
  left: 1vw;
  margin-bottom: auto;
  margin-top: auto;
}
.total_table_div {
  position: relative;
  display: flex;
}
