.username
{
  position: absolute;
  width: 94vw;
  height: 7.8vh;
  left: 3vw;
  top: 20vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin: 0;

  border: 1px solid #C8C9C7;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 3.5vh;
  text-align: left;

}

.cellphone
{
  position: absolute;
  width: 94vw;
  height: 7.8vh;
  left: 3vw;
  top: 31vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin: 0;

  border: 1px solid #C8C9C7;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 3.5vh;
  text-align: left;
}

.form_group
{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 42vh;
}

.form_group li
{
  position: relative;
  display: inline-table;
}

.check
{
  vertical-align: top;
  width: 3.5vw;
  height: 2.5vh;
  margin: 1vh 3vw 2vh 3vw;
}

input [type='checkbox']:checked
{
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}
.article
{
  width: 86vw;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2vw;
  line-height: 3.5vh;
  text-align: left;
  margin: 0;
  color: #7C878E;
}

.img_register
{
  display:block;
  position: absolute;
  background-position: center center;
  width: 50vw;
  height: 12vh;
  left: 23.6vw;
  top: 54vh;
}
