.header_chat {
  display: block;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding: 2px;
  top: 0.5vh;
}

.footer_chat {
  position: fixed;
  display: block;
  bottom: 0px;
}

.page_chat {
  flex-direction: column;

  position: fixed;
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.container_chat {
  position: absolute;
  height: 82.6vh;
  width: 100vw;
  bottom: 8vh;
}
