.container_create_category {
  width: 50vw;
  align-content: flex-end;
  right: 0;
  overflow: auto;
}
.container_edit_category {
  width: 50vw;
  align-content: flex-end;
  right: 0;
  overflow: auto;
}
