.button_select_cashier {
  position: absolute;
  width: 25vw;
  height: 8vh;
  top: 35vh;
  left: 6.25vw;
  background: #9b26b6;
  background-color: #9b26b6;
  border-radius: 10px;
  border: 1px solid #e6d9ef;
}
.text_cashier {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2vh;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  color: #e6d9ef;
  padding: auto;
}

.button_select_menu {
  width: 25vw;
  height: 8vh;
  top: 35vh;
  left: 37.5vw;
  position: absolute;
  background: #9b26b6;
  background-color: #9b26b6;
  border-radius: 10px;
  border: 1px solid #e6d9ef;
}
.text_menu_setup {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2vh;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  color: #e6d9ef;
  padding: auto;
}

.button_select_spots {
  width: 25vw;
  height: 8vh;
  top: 35vh;
  right: 6.25vw;
  position: absolute;
  background: #9b26b6;
  background-color: #9b26b6;
  border-radius: 10px;
  border: 1px solid #e6d9ef;
}
.text_spots_setup {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2vh;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  color: #e6d9ef;
  padding: auto;
}
