@mixin button_select {
  width: 25vw;
  height: 10vh;
  background: #9b26b6;
  background-color: #9b26b6;
  border-radius: 10px;
  border: 1px solid #9b26b6;
  position: absolute;
}

@mixin text_select {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2vmax;
  line-height: 2vmax;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: 0;
  color: #ffffff;
  padding: 0;
}
.button_select_app {
  @include button_select;
  top: 20vh;
  left: 15vw;
}
.text_app {
  @include text_select;
}

.button_select_cashier {
  @include button_select;
  top: 50vh;
  left: 15vw;
}

.text_cashier {
  @include text_select;
}
.button_select_menu {
  @include button_select;
  top: 20vh;
  right: 15vw;
}
.text_menu_setup {
  @include text_select;
}
.button_select_spots {
  @include button_select;
  top: 50vh;
  right: 15vw;
}
.text_spots_setup {
  @include text_select;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @mixin button_select {
    width: 60vw;
    height: 8vh;
    left: 20vw;
    background: #9b26b6;
    background-color: #9b26b6;
    border-radius: 10px;
    border: 1px solid #9b26b6;
    position: absolute;
  }

  @mixin text_select {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8vmax;
    line-height: 2.8vmax;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    margin: 0;
    color: #ffffff;
    padding: 0;
  }

  .button_select_app {
    @include button_select;
    top: 15vh;
  }
  .text_app {
    @include text_select;
  }

  .button_select_cashier {
    @include button_select;
    top: 30vh;
  }

  .text_cashier {
    @include text_select;
  }
  .button_select_menu {
    @include button_select;
    top: 45vh;
  }
  .text_menu_setup {
    @include text_select;
  }
  .button_select_spots {
    @include button_select;
    top: 60vh;
  }
  .text_spots_setup {
    @include text_select;
  }
}
