.float_cart
{
  border: 0;
  position: absolute;
  bottom: 8vh;
  height: 8vh;
  width: 100vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #32C755;
  color: white;
  align-items: center;
}
.text_cart{
  padding-top: 2%;
  font-size: 2.7vh;


}
