.header_register
{
    display:contents;
}


.footer_register
{
    display:none;
}

.page_register
{
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}

.login_register
{
  position: absolute;
  top: 3vh;

}
