.logo_header_landing {
  display: block;
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 7vh;
}
.options_header_landing {
  position: absolute;
  height: 9vh;
  width: 70vw;
  left: 30vw;
}
.page_landing {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
}
.container_landing {
  position: absolute;
  height: 91vh;
  width: 100vw;
  bottom: 0vh;

  overflow: auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-image: url("../../../../assets/background/back1.jpg");
  background-position: 50% 50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo_header_landing {
    display: block;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 30vw;
    height: 9vh;
    padding: 5px;
  }
  .options_header_landing {
    position: absolute;
    height: 9vh;
    width: 70vw;
    left: 30vw;
  }
  .container_landing {
    position: absolute;
    height: 91vh;
    width: 100vw;
    bottom: 0vh;

    overflow: auto;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-image: url("../../../../assets/background/back1phone.jpg");
    background-position: 50% -1px;
    background-size: cover;
  }
}
