.info_cashier {
  position: absolute;
  top: 0vh;
  width: 45vw;
  height: 100vh;
  left: 55vw;
}

.button_cashier {
  position: absolute;
  width: 12vw;
  height: 6vh;
  right: 1vw;
  top: 1vw;
  background: #9b26b6;
  border-radius: 1vmax;
  border: 1px solid #9b26b6;
}
.button_register {
  position: absolute;
  width: 19vw;
  height: 10vh;
  left: 2vw;
  top: 2vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1.4vmax;
}
.button_account {
  position: absolute;
  width: 19vw;
  height: 10vh;
  right: 2vw;
  top: 2vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1.4vmax;
}
.text_cashier {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vmax;
  line-height: 2.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: auto;
}
.text_register {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vmax;
  line-height: 2.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: auto;
}
.text_account {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vmax;
  line-height: 2.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: auto;
}
.container_cashier_tables {
  position: absolute;
  width: 44vw;
  right: 1.5vw;
  height: 85vh;
  padding: 3vh;
  bottom: 3.2vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  display: grid;
  grid-gap: 3vh;
}
.cashier_component {
  position: absolute;
  width: 44vw;
  height: 72vh;
  padding: 1.5vmax;
  bottom: 0vh;
  overflow: auto;
}
