.container_menu {
  overflow: scroll;
  flex-grow: 1;
  position: absolute;
  display: block;
  width: 100vw;
}
.header_menu {
  position: fixed;
  display: none;
}
.footer_menu {
  position: fixed;
  display: block;
  bottom: 0px;
}
.food_menu {
  position: absolute;
  display: block;
  top: 6vh;
  width: 100vw;
}
.order {
  background-color: white;
  overflow: scroll;
  flex-grow: 1;
  position: fixed;
  bottom: 53px;
  height: 93vh;
}
.page_menu {
  flex-direction: column;
  position: absolute;
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.page_order {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
}
.resume_drop {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  display: block;
}
.resume_cart {
  position: fixed;
  display: block;
  bottom: 0vh;
}
