.desc_food{
  font-size: 2.3vh;
  color: rgba(0,0,0,0.6);

}

.img_food{
  width: 99vw;
}

.line_food{
  border: 1;
  border-color: rgba(0,0,0,0.15);
  
}

.price_food{
  font-weight: bold;
  font-size: 2.3vh;

}


.title_food{
  font-weight: bold;
  font-size: 3vh;

}

.text_food{
  padding-left: 3vw;
  text-align: left;
}
