.header_home
{
    display:contents;
    position: fixed;
}


.footer_home
{
    position: fixed;
    display:block;
    bottom: 0px;
}

.page_home
{
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;

  grid-template-rows: 12fr 1fr;
  grid-template-columns: 1fr;
}
.container_home
{
  position: absolute;
  height: 82.6vh;
  width: 100vw;
  bottom: 8vh;
}
.avatar_home {
  display: block;
  position: absolute;
}
.num_home{
  position: absolute;
  bottom: 85vh;
}
