@import '~antd/dist/antd.css';


.card-container p {
  padding: 0;
  margin: 0;
  border: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: auto;

}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #ffffff;


}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #ffffff;
  background: #ffffff;

}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #9B26B6;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #9B26B6;
}
.content{
  position: relative;
  margin: 0;
  bottom: 2vh;
}
.title_bar{
  position: relative;
  font-size: 3vh;
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  text-align: left;
  padding-left: 4vw;
  bottom: 0vh;
  border: 0;

}

#text_menu
{
  font-size: 2.5vh;
  text-align: center;
  text-align: justify;
  margin: 0;
  padding: 0;
  border: 0;
  height: 3vh;
  font-weight: 500;
  line-height: 3vh;
  padding-left: 2vw;

}

#text_menu:hover{
  margin: 0;
  border: 0;
  font-weight: normal;
}
#text_menu:active{
  margin: 0;
  border: 0;
  color: #9B26B6;
  font-weight: normal;
}

#text_menu:target{
  color: #9B26B6;

}
#separator_menu_top
{

  position: relative;
  width: 100vw;
  border-color: rgba(0,0,0,0.15);
  margin: 0;
  border: 1;
  padding: 0;
}
#separator_menu_title
{

  position: relative;
  width: 100vw;
  border-color: rgba(0,0,0,0.15);
  margin: 0;
  border: 1;
  padding: 0;
}
