.container_account_list {
  position: absolute;
  width: 100vw;
  height: 61vh;
  left: 0px;
  top: 2vh;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(200, 201, 199, 1);
  border-bottom: 1px solid rgba(200, 201, 199, 1);
}

.container_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 55vw;
  height: 46vh;
  left: 9vw;
  top: 5vh;
}

.account_title {
  margin: 0 0 3.12vh 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 5.5vw;
  line-height: 3.9vh;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
