//360px a 980px
.App-logo {
  height: 100%;
  width: 100%;
}

.header_logo {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

@media only screen and (min-width: 900px) {
  .App-logo {
    padding: 5px;
    height: 100%;
    width: auto;
  }

  .header_logo {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
}
