.bar_list_all_selected {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}
.button_all_card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 10fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0;
  border: 0.2;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.button_all_card_mods {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 10fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0;
  border: 0.2;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.button_adds {
  width: 100%;
  height: 5vh;
  font-size: 1.8vh;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr;
}
.button_add_category {
  width: 100%;
  height: 5vh;
  font-size: 1.8vh;
  font-weight: 600;
  color: #32c755;
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.button_options_category {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
  color: #32c755;
}
.button_avilable_category {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.button_available_category_mods {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.button_available_category_adds {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
}
.button_options_category_adds {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.button_options_category_mods {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.button_options_adds {
  background-color: white;
  border: 0.2;
  border-right: 0;
  border-left: 0;
  border-color: rgba(0, 0, 0, 0.2);
}
.card_list_all {
  width: 100%;
  height: 5vh;
}
.container_list_all {
  width: 100%;
  align-content: flex-end;
  right: 0;
  overflow: auto;
  height: 100%;
}
.container_adds_mods_list_all {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.div_button_add_category {
  position: relative;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.flechita_list_all {
  padding-top: 1.5vh;
  color: #32c755;
}
.flechita_list_all_d {
  padding-top: 1.5vh;
  color: #9b26b6;
}
.flechita_button_adds {
  padding-top: 1vh;
  padding-left: 1.5vw;
  color: #32c755;
}
.order_card_list_all {
  display: grid;
  grid-template-columns: 10fr 2fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}
.order_button_adds {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}
.title_list_all {
  padding-top: 0.5vh;
  font-size: 1.8vh;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
}
.text_button_adds {
  padding-top: 0.5vh;
}
