.spot_setup_container {
  position: absolute;
  bottom: 3vh;
  width: 53vw;
  height: 85vh;
  left: 1.5vw;
  padding-bottom: 3vh;

  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: auto;
}

.header_qr_text {
  display: flex;
  width: 100%;
  position: relative;
  height: 60px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.service_qr_text {
  display: flex;
  width: 100%;
  position: relative;
  height: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vw;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.service_qr_spot {
  display: flex;
  width: 100%;
  position: relative;
  height: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vw;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.03);
}
.button_add_spot {
  display: flex;
  width: 100%;
  position: relative;
  height: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  margin: 0;
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: #32c755;
  align-items: center;
  justify-content: center;
  padding: 0;
}
