.button_return {
  width: 30vw;
  height: 8vh;
  z-index: 1;
  position: absolute;
  background: #9b26b6;
  border-radius: 10px;
  border: 1px solid #e6d9ef;
}

.text_return {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 7.8vw;
  line-height: 5vh;
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  color: #e6d9ef;
  padding: auto;
}
