.button_plus {
  border: 0px;
  background-color: white;
}
.button_plus:hover {
  border: 0px;
  background-color: gray;
}
.button_register_fav {
  width: 35vw;
  height: 5vh;
  color: white;
  border: 0;
  border-radius: 10px;
  background-color: #9b26b6;
  box-shadow: 2px 2px 5px black;
  font-size: 3vh;
  padding-bottom: 3vh;
  margin: 0;
}
.card_list {
  position: relative;
  width: 100vw;
  height: 20vh;
}
.cost {
  position: absolute;
  top: 13vh;
  line-height: 2vh;
  font-size: 3.9vw;
  font-weight: bold;
  font-style: normal;
  color: black;
}
.description {
  position: absolute;
  line-height: 2.5vh;
  font-size: 3.9vw;
  color: rgba(0, 0, 0, 0.6);
  top: 4vh;
  width: 50vw;
}
.desc_fav {
  font-size: 4vw;
}
.group_title {
  position: absolute;
  font-size: 4.5vw;
  color: rgba(0, 0, 0, 0.6);
}
.img_card {
  position: absolute;
  width: 27.7vw;
  height: 15.6vh;
  left: 3vw;
  top: 2.2vh;
  background-repeat: no-repeat;
  background-position: center center;
}
.link_card {
  background-color: white;
  border: 0px;
}
.order_card {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}
.plus {
  position: absolute;
  font-size: 4vh;
  right: 2vw;
  top: 10.2vh;
  color: #9b26b6;
}
.register_fav {
  padding: 2vh;
}
.text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  left: 33.7vw;
  width: 63.3vw;
  top: 2.2vh;
}
.text_button_fav {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0;
}
.title {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 3.6vh;
}
.title_cards {
  position: relative;
  font-size: 5vw;
  font-weight: bold;
  text-align: left;
  left: 4vw;
  color: rgba(0, 0, 0, 0.6);
}
.title_fav {
  font-size: 4.5vw;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  padding: 2vh;
}

#separator_card {
  position: relative;
  border-color: rgba(0, 0, 0, 0.2);
  border: 1;
  padding: 0;
  margin: 0;
  width: 200vw;
  right: 5vw;
  top: 20vh;
}

#separator_title_card {
  position: relative;
  border-color: rgba(0, 0, 0, 0.2);
  border: 1;
  padding: 0;
  margin: 0;
  top: 5vh;
}
