.separator_login {
  display: block;
  position: absolute;
  background-position: center center;
  background-color: transparent;
  width: 87vw;
  top: 66vh;
  left: 6.5vw;
}

.text_facebook {
  position: absolute;
  top: 74.5vh;
  left: 25vw;
  width: 65vw;
  background: transparent;
}

.icon_facebook {
  position: absolute;
  top: 71vh;
  left: 12.22vw;
  width: 7.77vw;
  height: 9vh;
  background: transparent;
}

.text_google {
  position: absolute;
  top: 83.2vh;
  left: 25vw;
  width: 58.6vw;
  background: transparent;
}

.icon_google {
  position: absolute;
  top: 79.7vh;
  left: 12.22vw;
  width: 10vw;
  height: 9vh;
  background: transparent;
}
