body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Quicksand";
  font-weight: 0;
  src: local("Quicksand"),
    url(./fonts/Quicksand/Quicksand_Book.otf) format("opentype");
}

@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  src: local("Quicksand"),
    url(./fonts/Quicksand/Quicksand_Bold.otf) format("opentype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: oblique;
  src: local("Quicksand"),
    url(./fonts/Quicksand/Quicksand_Book_Oblique.otf) format("opentype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Questrial";
  font-weight: 400;
  src: local("Questrial"),
    url(./fonts/Questrial/Questrial-Regular.ttf) format("truetype");
}
