.logo_header_admin_menu {
  display: block;
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 7vh;
}
.options_header_admin_menu {
  position: absolute;
  height: 9vh;
  width: 70vw;
  left: 30vw;
}

.all_menu_setup {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 79vh;
}
.container_setup_menu {
  position: absolute;
  height: 91vh;
  width: 100vw;
  bottom: 0vh;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.content_menu_setup {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  height: 79vh;
}
.content_inside_menu_setup_1 {
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 1.5fr;
}
.content_inside_menu_setup_2 {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 79vh;
}
.category_menu_setup {
  height: 79vh;
}
.div_menu_setup {
  position: absolute;
  background-color: white;
  width: 95vw;
  height: 85vh;
  margin: 3vh;
  border: 2px;
  padding: 0;
}
.div_head_menu_setup {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  width: 100%;
  height: 6vh;
}
.header_setup_menu {
  display: block;
  position: absolute;
  top: 0.5vh;
  left: 1vw;
}
.head_menu_setup {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.line_head_menu_setup {
  border: 1px;
  margin: 0;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.3);
}
.page_setup_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
}
.product_menu_setup {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 79vh;
}
.title_menu_setup {
  font-size: 2.8vh;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
  padding-top: 0.7vh;
  padding-left: 2vh;
  padding-bottom: 0.7vh;
}
.text_view_not_available_phone {
  display: none;
}
.view_not_available_phone {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo_header_admin_menu {
    display: block;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 30vw;
    height: 9vh;
    padding: 5px;
  }
  .options_header_admin_menu {
    position: absolute;
    height: 9vh;
    width: 70vw;
    left: 30vw;
  }
  .container_spot_admin {
    position: absolute;
    height: 91vh;
    width: 100vw;
    bottom: 0vh;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: none;
  }
  .view_not_available_phone {
    position: absolute;
    display: block;
    height: 91vh;
    width: 100vw;
    bottom: 0vh;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-image: url("../../../../assets/background/back1phone.jpg");
    background-position: 50% -1px;
    background-size: cover;
  }
  .text_view_not_available_phone {
    position: absolute;
    display: block;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 5vmax;
    line-height: 6vmax;
    align-items: center;
    text-align: center;
    height: auto;
    margin: auto;
    color: #9b26b6;
    padding: auto;
  }
}
