.num_table {
  position: absolute;
  width: 34.7vw;
  height: auto;
  left: 32.65vw;
  top: 10vh;
}

.text_num_table {
  position: fixed;
  width: 20vw;
  left: 40vw;
  top: 25vh;
  margin: 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 7.5vmax;
  line-height: 8vmax;
  text-align: center;
  color: #ffffff;
}

.text_user {
  position: absolute;
  width: 53.8vw;
  height: 6.6vh;
  left: 27vw;
  top: 34vh;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 3vh;
  color: #7c878e;
}

.icon_text {
  position: absolute;
  width: 6.4vw;
  height: 3.6vh;
  left: 19vw;
  top: 33.6vh;
}

@media only screen and (min-width: 600px) {
  .num_table {
    position: absolute;
    width: 34.7vw;
    height: auto;
    left: 32.65vw;
    top: 8vh;
  }
  .text_num_table {
    position: fixed;
    width: 12.2vw;
    left: 43vw;
    top: 25vh;
    margin: 0;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14vw;
    line-height: 10vh;
    text-align: center;
    color: #ffffff;
  }
  .text_user {
    position: absolute;
    width: 53.8vw;
    height: 6.6vh;
    left: 27vw;
    top: 37vh;
    margin: 0;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 3vh;
    color: #7c878e;
  }
  .icon_text {
    position: absolute;
    width: 6.4vw;
    height: 3.6vh;
    left: 22vw;
    top: 36.6vh;
  }
}
