//360px a 980px 
.App-logo {
  padding: 0.5vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;

  height: 9.4vh;
  width:  58.34vw;
}

.header{
  height: 60px;
  width: 100vw;
  background-color: #FFFFFF;

}
