//360px a 980px
.App-logo
{
  top: 0.5vh;
  padding: 5px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  height: 9.4vh;
  width:  58.34vw;
}

.header_logo
{
  height: 60px;
  width: 100vw;
  background-color: #FFFFFF;
}
