/* For mobile phones: */
.qr_ready_service {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 10vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 4vh;
  color: #7c878e;
  margin: 0;
  z-index: 2;
}
#ellipse_qr_service {
  top: 8vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  left: 0;
}

.ellipse_turn_qr_service {
  position: absolute;
  top: 0vh;
  height: 60vh;
  width: 100vw;
  left: 0;
  z-index: 1;
}

.ellipse_reader_service {
  background-position: center center;
  position: absolute;
  top: 8.5vh;
  height: 42vh;
  width: 72vw;
  left: 14vw;
  z-index: -1;
}

.qr_reader_service {
  position: absolute;
  top: 9vh;
  left: 12vw;
  width: 76vw;
  height: 40vh;
  z-index: -2;
}
.change_camera {
  position: fixed;
  bottom: 14vh;
  display: block;
  z-index: 2;
  width: 20vw;
  left: 5vw;
}
.charge_qr {
  position: fixed;
  bottom: 14vh;
  display: block;
  z-index: 2;
  width: 20vw;
  right: 5vw;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #ellipse_qr_service {
    top: 20vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
  }

  .ellipse_turn_qr_service {
    position: absolute;
    top: 0vh;
    height: 60vh;
    width: 100vw;
    left: 0;
    z-index: 1;
  }

  .ellipse_reader_service {
    background-position: center center;
    position: absolute;
    top: 8vh;
    height: 42vh;
    width: 72vw;
    left: 14vw;
    z-index: -1;
  }

  .qr_reader_service {
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    z-index: -2;
  }
}
